{% extends 'core/base.html' %}

{% block title %}Modify Profile{% endblock %}

{% block content %}
<div class="my-8 pt-4 flex flex-col justify-center items-center">
    <h1 class="text-3xl my-2 font-semibold italic mb-14">Ndrysho profilin tënd, {{ user.username }}</h1>

    <form method="post" enctype="multipart/form-data" action=".">
        {% csrf_token %}

        {{ form.as_p }}
        <button type="submit" class="my-8 inline-block text-white font-bold py-2 px-4 rounded-full bg-gradient-to-r from-pink-500 to-purple-800 border border-transparent transform hover:scale-110 hover:border-white transition-transform duration-3000 ease-in-out">Ruaj ndryshimet</button>
    </form>
</div>
{% endblock %}